### Dataframes

##### dataframes can be thought of as more complex dictionaires 
datafrane can also be made using dictionaries

In [2]:
import pandas as pd

In [3]:
soccer_players = {
    "firstname":["Paul","Jamie","Phil","Harry"],
    "lastname": ["Pogba","Vardy","Foden","Kane"],
    "age": [28,34,20,27]
}
Data_fr = pd.DataFrame(soccer_players)

In [4]:
Data_fr

  firstname lastname  age
0      Paul    Pogba   28
1     Jamie    Vardy   34
2      Phil    Foden   20
3     Harry     Kane   27

In [5]:
# accessing values of a columns
lastnames = Data_fr["lastname"]
lastnames

0    Pogba
1    Vardy
2    Foden
3     Kane
Name: lastname, dtype: object

In [6]:
Data_fr.lastname #  another way to access values of a columns

0    Pogba
1    Vardy
2    Foden
3     Kane
Name: lastname, dtype: object

In [7]:
type(lastnames)

pandas.core.series.Series

In [8]:
# accessing mutliple columns
Data_fr[["lastname","age"]]

  lastname  age
0    Pogba   28
1    Vardy   34
2    Foden   20
3     Kane   27

In [9]:
# give all names of columns
Data_fr.columns

Index(['firstname', 'lastname', 'age'], dtype='object')

In [10]:
# iloc == integer location
Data_fr.iloc[[0,3]] # gets the first row

  firstname lastname  age
0      Paul    Pogba   28
3     Harry     Kane   27

In [11]:
# get values of specific rows of specific columns
Data_fr.iloc[[0,1], 1]

0    Pogba
1    Vardy
Name: lastname, dtype: object

In [12]:
# similar to iloc but you can say the name of the column instead of indez
Data_fr.loc[[0,3], ["age","lastname"]]

   age lastname
0   28    Pogba
3   27     Kane

#### Series

##### series type is table with multiple rows (as many as you wish) and with one single column

In [30]:
series_data=["yes","no","no","no","yes","yes","no","no"]
Series_Fr=pd.Series(series_data)
Series_Fr.shape

(8,)

In [31]:
Series_Fr

0    yes
1     no
2     no
3     no
4    yes
5    yes
6     no
7     no
dtype: object

In [32]:
#change index in series; also cna be done in dataframe 
gender=["male","female","male","male","female","male","female","female"]
Series_Fr2=pd.Series(series_data, index=gender)

In [33]:
Series_Fr2

male      yes
female     no
male       no
male       no
female    yes
male      yes
female     no
female     no
dtype: object